<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Framework">
  <test  name="Test">
  
  <parameter name="string" value="nitin"/>
  
  <classes>
  	<class name="frameworkdemo.Assignment6_q3"/>
  </classes>

  </test>
</suite> <!-- Suite -->
